{{#if resume.skills.length}}
  <div id="skills" class="skills">
    <div class="section-intro">
      <div class="section-name">
        <span>
          SKILLS AND TECH
        </span>
      </div>
      <div class="section-intro-line"></div>
    </div>
    <div class="section-content">
      <ul class="highlights">
        {{#each resume.skills}}
          <span class="title">
            {{name}}:
          </span>
          {{#if keywords.length}}
            {{SKILLS_SECTIONS keywords sections}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="section-line"></div>
{{/if}}